<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section_name</key>
		<string>UIkit</string>
		<key>data_list</key>
		<array>
			<dict>
				<key>name</key>
				<string>label</string>
				<key>controller_name</key>
				<string>LabelViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>view</string>
				<key>controller_name</key>
				<string>ViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>button</string>
				<key>controller_name</key>
				<string>ButtonController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UIBarItem</string>
				<key>controller_name</key>
				<string>BarItemController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tableview</string>
				<key>controller_name</key>
				<string>TableviewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>colletionview</string>
				<key>controller_name</key>
				<string>ColletionviewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UIwebView</string>
				<key>controller_name</key>
				<string>WebviewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>WKWebView</string>
				<key>controller_name</key>
				<string>WKWebViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
